.card {
    background: #fff;
    border-radius: 2px;
    display:inline-block;
    height: 170px;
    margin: 1rem;
    position: relative;
    width: 170px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
  }
  
  .card > .img-container {
    height: 95%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 90%
  }